---
import Layout from '../layouts/Layout.astro';
import "tailwindcss/tailwind.css";
import "../styles/global.css";
import { website } from "../utils/update";

export const metadata = {
  title: "Chillangel play to earn",
  description: "Chillangel play to earn",
  keywords: "Chillangel play to earn",
  url: "https://game.paintik.xyz/",
  image: "https://i.imgur.com/dgBXMcB.png",
  datePublished: new Date().toISOString().split("T")[0],
};
const venueData = await website();
const characters = (venueData.businessUnit.products as any[]).filter(product => product.tags.includes("角色"));
const items = (venueData.businessUnit.products as any[]).filter(product => product.tags.includes("加速"));
---
<Layout metadata={metadata}>
	<section class="tf-section live-auctions mobie-style">
    <div class="themesflat-container">
      <div class="row">
        <div class="col-md-12">
          <h2 class="tf-title">
            <a style="color: rgb(193, 190, 206); font-weight: bold; font-size: 20px; "> 角色選擇 </a>
		      </h2>
          <div class="heading-line"></div>
        </div>
        
        <div class="swiper-container show-shadow carousel pad-t-24 auctions">
          <div class="swiper-wrapper">
            {(characters as any[]).map(product => {return (<div class="swiper-slide">
								<div class="slider-item">										
									<div class="sc-card-product">
										<div class="card-media">
											<a > <img src="https://i.imgur.com/dgBXMcB.png" alt="Image"></a>
											<button class="wishlist-button heart"><span class="number-like"> 100 </span></button>
										</div>
										<div class="card-title">
											<h5 class="style2">
                                             <a style="color: rgb(86, 231, 46); font-weight: bold; font-size: 20px; "> 初始幽靈 </a>
                                            </h5>
											<div class="tags">SOL</div>
										</div>
										<div class="meta-info">
											<div class="author">
												<div class="avatar">
													<img src={`https://i.imgur.com/dgBXMcB.png`} loading="lazy" alt={product.name} >
												</div>
												<div class="info">
													<span>挖礦速度</span>
													<h6 class="style2"><a href="author02.html">購買金額
													</a> </h6>
												</div>
											</div>
											<div class="price">
												<span>0.01 SOL / 1hr</span>
												<h5> 0.00 SOL</h5>
											</div>
										</div>
									</div>  	
								</div><!-- item-->
							</div>);
						})}
            <div class="swiper-slide">
              <div class="slider-item">										
                <div class="sc-card-product">
                  <div class="card-media">
                    <a > <img src="https://i.imgur.com/7RThe3X.png" alt="Image"></a>
                    <button class="wishlist-button heart"><span class="number-like"> 145</span></button>
                    <div class="featured-countdown">
                      <span class="slogan"></span>
                      <span class="js-countdown" data-timer="716400" data-labels=" :  ,  : , : , "></span>
                    </div>
                    <div class="button-place-bid">
                      <a href="#" data-toggle="modal" data-target="#popup_bid" class="sc-button style-place-bid style bag fl-button pri-3"><span>購買按鈕</span></a>
                    </div>
                  </div>
                    <div class="card-title">
                     <h5 class="style2">
                       <a style="color: rgb(86, 231, 46); font-weight: bold; font-size: 20px; "> 天使幽靈 </a>
                     </h5>
                    <div class="tags">SOL</div>
                  </div>
                  <div class="meta-info">
                    <div class="author">
                      <div class="avatar">
                        <img src="https://i.imgur.com/7RThe3X.png" alt="">
                      </div>
                      <div class="info">
                        <span>挖礦速度</span>
                        <h6 class="style2"><a href="author02.html">購買金額</a> </h6>
                      </div>
                    </div>
                    <div class="price">
                      <span>0.03 SOL / 1hr</span>
                      <h5> 1.00 SOL</h5>
                    </div>
                  </div>
                </div>  	
              </div><!-- item-->  
            </div>
			<div class="swiper-slide">
              <div class="slider-item">										
                <div class="sc-card-product">
                  <div class="card-media">
                    <a > <img src="https://i.imgur.com/nlmUxaz.png" alt="Image"></a>
                    <button class="wishlist-button heart"><span class="number-like"> 300</span></button>
                    <div class="featured-countdown">
                      <span class="slogan"></span>
                      <span class="js-countdown" data-timer="716400" data-labels=" :  ,  : , : , "></span>
                    </div>
                    <div class="button-place-bid">
                      <a href="#" data-toggle="modal" data-target="#popup_bid" class="sc-button style-place-bid style bag fl-button pri-3"><span>購買按鈕</span></a>
                    </div>
                  </div>
                  <div class="card-title">
                     <h5 class="style2">
                       <a style="color: rgb(86, 231, 46); font-weight: bold; font-size: 20px; "> 惡魔幽靈 </a>
                     </h5>
                    <div class="tags">SOL</div>
                  </div>
                  <div class="meta-info">
                    <div class="author">
                      <div class="avatar">
                        <img src="https://i.imgur.com/nlmUxaz.png" alt="">
                      </div>
                      <div class="info">
                        <span>挖礦速度</span>
                        <h6 class="style2"><a href="author02.html">購買金額</a> </h6>
                      </div>
                    </div>
                    <div class="price">
                      <span>0.06 SOL / 1hr</span>
                      <h5> 1.50 SOL</h5>
                    </div>
                  </div>
                </div>  	
              </div><!-- item-->  
          </div>
          <div class="swiper-pagination"></div>
          <div class="swiper-button-next btn-slide-next"></div>
          <div class="swiper-button-prev btn-slide-prev"></div>
        </div>
      </div>
    </div>
  </section>
	<section class="tf-section ">
		<div class="themesflat-container">
			<div class="row">
				<div class="col-md-12">
						<h2 class="tf-title pb-12">
				      <a style="color: rgb(193, 190, 206); font-weight: bold; font-size: 20px; "> 加速道具 </a>
						</h2>
						<div class="heading-line s2"></div>
				</div>


        <div class="swiper-container show-shadow carousel pad-t-24 auctions">
          <div class="swiper-wrapper">
            {(characters as any[]).map(product => {return (<div class="fl-item col-xl-3 col-lg-4 col-md-6 col-sm-6">
						 <div class="slider-item">										
							<div class="sc-card-product">
								<div class="card-media">
										<a > <img src="https://i.imgur.com/6qjidMG.png" alt="Image"></a>
										<button class="wishlist-button heart"><span class="number-like"> 100</span></button>
								</div>
								<div class="card-title">
                  <h5 class="style2">
                       <a style="color: rgb(112, 118, 111); font-weight: bold; font-size: 20px; "> 幽靈加速器 </a>
                  </h5>
                    <div class="tags">SOL</div>
								</div>
								<div class="meta-info">
										<div class="author">
												<div class="avatar">
														<img src="https://i.imgur.com/6qjidMG.png" alt="Image">
												</div>
												<div class="info">
														<span>加速頻率</span>
														<h6 class="style2"><a href="author02.html">購買金額</a> </h6>
												</div>
										</div>
										<div class="price">
												<span>+0.05 SOL</span>
												<h5> 1.00  SOL</h5>
										</div>
								</div>
								<div class="card-bottom">
										<a href="#" data-toggle="modal" data-target="#popup_bid" class="sc-button style bag fl-button pri-3"><span>購買按鈕</span></a>
										<a href="activity1.html" class="view-history reload" style="color: rgb(199, 222, 226); font-weight: bold; font-size: 18px; line-height: 1;">100 / 100</a>
								</div> 
						  </div>
					 </div>

           <div class="slider-item">										
							<div class="sc-card-product">
								<div class="card-media">
										<a > <img src="https://i.imgur.com/Kk4Ugzq.png" alt="Image"></a>
										<button class="wishlist-button heart"><span class="number-like"> 100</span></button>
								</div>
								<div class="card-title">
                  <h5 class="style2">
                       <a style="color: rgb(129, 176, 121); font-weight: bold; font-size: 20px; "> 天使加速器 </a>
                  </h5>
                    <div class="tags">SOL</div>
								</div>
								<div class="meta-info">
										<div class="author">
												<div class="avatar">
														<img src="https://i.imgur.com/Kk4Ugzq.png" alt="Image">
												</div>
												<div class="info">
														<span>加速頻率</span>
														<h6 class="style2"><a href="author02.html">購買金額</a> </h6>
												</div>
										</div>
										<div class="price">
												<span>+0.08 SOL</span>
												<h5> 1.50 SOL</h5>
										</div>
								</div>
								<div class="card-bottom">
										<a href="#" data-toggle="modal" data-target="#popup_bid" class="sc-button style bag fl-button pri-3"><span>購買按鈕</span></a>
										<a href="activity1.html" class="view-history reload" style="color: rgb(199, 222, 226); font-weight: bold; font-size: 18px; line-height: 1;">100 / 100</a>
								</div> 
              </div> 
            </div> 
            <div class="slider-item">										
							<div class="sc-card-product">
								<div class="card-media">
										<a > <img src="https://i.imgur.com/sPjICfI.png" alt="Image"></a>
										<button class="wishlist-button heart"><span class="number-like"> 100</span></button>
								</div>
								<div class="card-title">
                  <h5 class="style2">
                       <a style="color: rgb(129, 176, 121); font-weight: bold; font-size: 20px; "> 惡魔加速器 </a>
                  </h5>
                    <div class="tags">SOL</div>
								</div>
								<div class="meta-info">
										<div class="author">
												<div class="avatar">
														<img src="https://i.imgur.com/sPjICfI.png" alt="Image">
												</div>
												<div class="info">
														<span>加速頻率</span>
														<h6 class="style2"><a href="author02.html">購買金額</a> </h6>
												</div>
										</div>
										<div class="price">
												<span>+0.1 SOL</span>
												<h5> 1.70 SOL</h5>
										</div>
								</div>
								<div class="card-bottom">
										<a href="#" data-toggle="modal" data-target="#popup_bid" class="sc-button style bag fl-button pri-3"><span>購買按鈕</span></a>
										<a href="activity1.html" class="view-history reload" style="color: rgb(199, 222, 226); font-weight: bold; font-size: 18px; line-height: 1;">100 / 100</a>
								</div> 
              </div> 
            </div> 
					</div>);
				})}
		</div>
</section>
</Layout>